In [29]:
# 1. Convert the dictionaries to data frames and clean them (replacing null values, not deleting!)
# 2. reorder the dataframe to put the countries in alphabetical order
# 4. reset the index to be in numerical order
# 6. Merge the data and language dataframes on the county index
# 5. Group the dataframe by language to determine how many countries speak each of the languages
# 6. Group the dataframe by language to determine the average population size by language
# 7. Group the dataframe by language to determine the total area per language

In [30]:
language_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", 
                        "Belize", "Guatemala", "El Salvador", "Costa Rica", "Panama", 
                        "Honduras"],  "primary_language": ["English", "French", "Spanish", 
                        "Spanish", "English","Spanish", "Spanish", "Spanish", "Spanish", "Spanish"]}

data_dictionary = {"country": ["USA", "Canada", "Mexico", "Nicaragua", "Belize", "Guatemala", "El Salvador", "Costa Rica", "Panama", "Honduras"], "Population": [300000000, 150000000, 167000000, 87000000, 35000000, 76000000, 45000000, 67000000, 55000000, 38000000], "Area_km_sq": [None, 14000000, 4000000, 900000, None, 400000, 420000, 370000,None, 420000]}

In [31]:
import pandas as pd

In [32]:
data = pd.DataFrame.from_dict(data_dictionary)
language = pd.DataFrame.from_dict(language_dictionary)

In [33]:
data = data.fillna(0)

In [34]:
language.isna()

   country  primary_language
0    False             False
1    False             False
2    False             False
3    False             False
4    False             False
5    False             False
6    False             False
7    False             False
8    False             False
9    False             False

In [35]:
data.sort_values(['country'], inplace = True)
data

       country  Population  Area_km_sq
4       Belize    35000000         0.0
1       Canada   150000000  14000000.0
7   Costa Rica    67000000    370000.0
6  El Salvador    45000000    420000.0
5    Guatemala    76000000    400000.0
9     Honduras    38000000    420000.0
2       Mexico   167000000   4000000.0
3    Nicaragua    87000000    900000.0
8       Panama    55000000         0.0
0          USA   300000000         0.0

In [36]:
language.sort_values(['country'], inplace = True)
language

       country primary_language
4       Belize          English
1       Canada           French
7   Costa Rica          Spanish
6  El Salvador          Spanish
5    Guatemala          Spanish
9     Honduras          Spanish
2       Mexico          Spanish
3    Nicaragua          Spanish
8       Panama          Spanish
0          USA          English

In [37]:
df = data.join(language.set_index('country'), on = 'country')

In [52]:
df.groupby('primary_language')['country'].count()

primary_language
English    2
French     1
Spanish    7
Name: country, dtype: int64

In [49]:
df.groupby('primary_language')['Population'].mean()

primary_language
English    1.675000e+08
French     1.500000e+08
Spanish    7.642857e+07
Name: Population, dtype: float64

In [48]:
# 7. Group the dataframe by language to determine the total area per language 
df.groupby('primary_language')['Area_km_sq'].sum()

primary_language
English           0.0
French     14000000.0
Spanish     6510000.0
Name: Area_km_sq, dtype: float64